:root {
  --color-primary: #0ad3fa;
  --color-secondary: #1203fa;
  --color-background: #f9fafb;
  --color-text: #111827;
  --color-accent: #c74097;

  --font-sans: "Inter", sans-serif;
  --font-display: "Poppins", sans-serif;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}
